* {
    box-sizing: border-box;
  }
body{
    background-color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
}
.card{
    /* outline */
    width: 400px;
    height: fit-content;
    background-color: #FAFAFA;
    border-radius: 10px;
    /* box shadow */
    -webkit-box-shadow: 9px 8px 9px -6px rgba(115,113,115,1);
    -moz-box-shadow: 9px 8px 9px -6px rgba(115,113,115,1);
    box-shadow: 9px 8px 9px -6px rgba(115,113,115,1);

    /* display */
    display: flex;
    flex-direction: column;
    position: relative;
}

.textbox i{
    position: absolute;
}
.textfeild{
    margin: 10px;
    padding: 25px 35px;
    height: 10px;
    width: 380px;
    background-color:#EEEEEE ;
    outline: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    border-radius: 10px;
    border: none;
}
.icon{
    margin:12px ;
    padding: 15px;
}
.clear-completed-all-tasks{
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
}
.btn{
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 3px 25px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.tasklist{
    margin-bottom: 10px;
}
.task{
    display:flex;
    flex-direction: row;
}
.task p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    cursor: pointer;
}


.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid grey;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    padding:0px 5px;
}

.checkbox-round:checked {
    background-color:blue;
}

.del-icon{
    position: absolute;
    right   :0 ;
    cursor: pointer;
    margin-right: 30px;
}
.stike-text{
    text-decoration: line-through;
}

.additional-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    width:100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    opacity: 0.5;
}
.no-of-tasks{
    padding: 2px 15px;
   

}
.status{
    display: flex;
    /* padding: 4px; */
}
.all,.completed,.uncompleted{
    padding: 2px 5px;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}


